@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Satoshi;
  src: url('../fonts/Satoshi-Variable.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: Satoshi;
}

.swiper-pagination-bullet {
  background-color: #777777 !important; 
  width: 12px !important; 
  height: 12px !important; 
  opacity: 1 !important; 
}

.swiper-pagination-bullet-active {
  background-color: #F76A0F !important; 
}
